ONE_INCH_DEV_PORTAL_HOST={{proxy host}}
ONE_INCH_DEV_PORTAL_TOKEN={{1inch dev portal api token}}
WALLET_CONNECT_PROJECT_ID={{wallet connect project id}}
GIT_HUB_RELEASES_TOKEN={{token}}
INFURA_API_KEY={{api key}}
