.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  background: var(--1inch__bg_bg-main);
  height: 36px;
  border-radius: 12px;
  padding: 4px 4px 4px 8px;
  box-sizing: border-box;
}

.address-container {
  padding: 4px 8px;
  background: var(--1inch__bg_bg-3ry);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 28px;
  box-sizing: border-box;
  margin-right: -6px;

  &:hover, &:focus-visible {
    box-shadow: 0 0 0 1px var(--1inch__text-icons_gray-300);
  }
}

.address {
  color: var(--1inch__text-icons_main);
  width: fit-content;
  max-width: 160px;
  overflow: hidden;
}
