.card-container {
  background: var(--1inch__bg_bg-main);
  padding: 8px;
  border-radius: 24px;
  width: 480px;
  min-height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-device-width: 480px) {
  .card-container {
    width: 100vw;
  }
}
